*.h5 filter=lfs diff=lfs merge=lfs -text
./target_detection.h5 filter=lfs diff=lfs merge=lfs -text
./target_detection2.h5 filter=lfs diff=lfs merge=lfs -text
./target_detection3.h5 filter=lfs diff=lfs merge=lfs -text
./target_detection4.h5 filter=lfs diff=lfs merge=lfs -text
./testVideos/* filter=lfs diff=lfs merge=lfs -text
./testVideos/TestVideo1.MP4 filter=lfs diff=lfs merge=lfs -text
./testVideos/TestVideo2.MP4 filter=lfs diff=lfs merge=lfs -text
./testVideos/TestVideo3.MP4 filter=lfs diff=lfs merge=lfs -text
./testVideos/TestVideo4.MP4 filter=lfs diff=lfs merge=lfs -text
